includes:
    - vendor/larastan/larastan/extension.neon

parameters:
    paths:
        - app

    level: 6

    ignoreErrors:
        - '#Unsafe usage of new static#'

    excludePaths:
        - app/Modules/*/Models/*.php  # Eloquent magic methods

    checkMissingIterableValueType: false
